@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes flip {
  0% {
    opacity: 0;
    transform: perspective(400px) rotateY(90deg);
  }

  40% {
    transform: perspective(400px) rotateY(-20deg);
  }

  60% {
    opacity: 1;
    transform: perspective(400px) rotateY(10deg);
  }

  80% {
    transform: perspective(400px) rotateY(-5deg);
  }

  100% {
    transform: perspective(400px);
  }
}

@keyframes jackIn {
  0% {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes wobble {
  0% {
    transform: translateZ(0) scale(1);
  }
  20% {
    transform: translate3d(-25%, 0, 0) rotate(-5deg) scale(1.1);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate(3deg) scale(1.2);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate(-3deg) scale(1.3);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate(2deg) scale(1.2);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate(-1deg) scale(1.1);
  }
  100% {
    transform: translateZ(0) scale(1);
  }
}

@keyframes flickerBoard {
  0% {
    opacity: 0;
  }
  23.333333% {
    opacity: 1;
  }
  56.666667% {
    opacity: 0;
  }
  83.333333% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotationEyeLeft {
  0% {
    transform: translate(175.976364px, 158.980988px) rotate(0deg);
  }
  50% {
    transform: translate(175.976364px, 158.980988px) rotate(182.5deg);
  }
  100% {
    transform: translate(175.976364px, 158.980988px) rotate(365deg);
  }
}

@keyframes rotationEyeRight {
  0% {
    transform: translate(194.215378px, 160.578003px) rotate(0deg);
  }
  50% {
    transform: translate(194.215378px, 160.578003px) rotate(182.5deg);
  }
  100% {
    transform: translate(194.215378px, 160.578003px) rotate(365deg);
  }
}
