@font-face {
  font-family: "Alpha";
  src: url("../../assets/fonts/AlphaMaleModern.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Abrog";
  src: url("../../assets/fonts/AbrogTrialRegular-K7YrD.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Nano";
  src: url("../../assets/fonts/NanoPixDemoRegular-1Gg7B.ttf");
  font-weight: 400;
  font-display: swap;
}
