@font-face {
  font-family: "Cyborg";
  src: url("./assets/fonts/Cyborg.074aa61276a2a2f121a4.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Exo";
  src: url("./assets/fonts/ExoSpace.606b1a1e5fed2c8afb24.ttf");
  font-weight: 400;
  font-display: swap;
}
